html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #005f6b;
}

main{
    flex: 1;
}

.Animate{
    transform: translateX(-20px);
    opacity: 0;
    animation: animeLeft 0.3s forwards
  }
  @keyframes animeLeft{
    to{
      transform: initial;
      opacity: initial;
    }
  }