.tecnologias{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

li > img{
    width: 150px;
    height: 150px;
}

.tecnologias > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologias > ul > li{

    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}