.container{
    /* background-color: grey; */
    color: black;
    text-align: center;
    width: 100%;
}

.verMais{
    font-size: 10px;
    color: rgb(161, 161, 161);
    cursor: pointer;
}

a{
    all: unset;
}