.container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    width: 100%;
}

.navLink {
    all: unset;
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.navLink:hover {
    background-color: lightgreen;
}
