.container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    width: 100%; 
}

.navLink {
    all: unset;
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    color: white;
}

.navLink:hover {
    background-color: #01353b;
}
